Repository gzukas/heropad: changes, and which lint-staged commands are due for each by the changed paths.
All: turbo run lint, prettier --write

.lintstagedrc:

{
  "**/*.{ts,tsx}": ["turbo run lint"],
  "**/*.{ts,tsx,md}": ["prettier --write"]
}

chore: remove formatting from routeTree.gen.ts applied by prettier
  apps/web/src/routeTree.gen.ts
Due: turbo run lint, prettier --write

Update README.md
  README.md
Due: prettier --write

deps: bump deps
  apps/api/package.json
  apps/web/package.json
  apps/web/src/components/Absolute.ts
  apps/web/src/components/App.tsx
  apps/web/src/components/ChangeColorScheme.tsx
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: turbo run lint, prettier --write

build: run github actions on PR
  .github/workflows/build-lint-test.yml
Due: none

chore: bump action versions in workflow
  .github/workflows/build-lint-test.yml
Due: none

deps: bump
  apps/api/package.json
  apps/web/package.json
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: none

deps: bump
  apps/api/package.json
  apps/web/package.json
  apps/web/src/components/App.tsx
  apps/web/src/routes/(hero)/-components/HeroAwards.tsx
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: turbo run lint, prettier --write

fix: pnpm version in workflow
  .github/workflows/build-lint-test.yml
Due: none

fix: supabase advisor warnings
  apps/api/supabase/migrations/20230920212523_createTables.sql
  apps/api/supabase/migrations/20240122120401_createHeroAwardSearchTable.sql
Due: none

refactor: search components
  apps/api/src/trpc/appRouter.ts
  apps/web/package.json
  apps/web/src/atoms/searchSuggestionsByKindAtom.ts
  apps/web/src/components/Search/AwardSuggestionList.tsx
  apps/web/src/components/Search/HeroSuggestionList.tsx
  apps/web/src/components/Search/Search.tsx
  apps/web/src/components/Search/SearchButton.tsx
  apps/web/src/components/Search/SearchDialog.tsx
  apps/web/src/components/Search/SearchEmpty.tsx
  apps/web/src/components/Search/SearchGroup.tsx
  apps/web/src/components/Search/SearchInput.tsx
  apps/web/src/components/Search/SearchList.tsx
  apps/web/src/components/Search/SearchSuggestions.tsx
  apps/web/src/components/Search/SearchText.tsx
  apps/web/src/components/Search/useCloseSearch.ts
  apps/web/src/components/UseAtomValue.tsx
  apps/web/src/routes/(hero)/$hero.$awardId.tsx
  apps/web/src/types.ts
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: turbo run lint, prettier --write

fix: recompile messages
  apps/web/src/locales/en.po
  apps/web/src/locales/en.ts
  apps/web/src/locales/lt.po
  apps/web/src/locales/lt.ts
Due: turbo run lint, prettier --write

docs: explain essential env vars
  apps/api/.env.example
Due: none

feat: bundle en locale for inital page speed
  apps/web/lingui.config.ts
  apps/web/src/atoms/localeAtom.ts
  apps/web/src/atoms/localeEffect.ts
  apps/web/src/locales/en.po
  apps/web/src/locales/lt.po
Due: turbo run lint, prettier --write

chore: testing setup
  apps/web/package.json
  apps/web/src/testing/setupServer.ts
  apps/web/src/testing/setupTests.ts
  apps/web/vite.config.ts
  pnpm-lock.yaml
Due: turbo run lint, prettier --write

test: add some more tests
  apps/web/src/components/Absolute.ts
  apps/web/src/components/App.tsx
  apps/web/src/components/AppProvider.tsx
  apps/web/src/components/ChangeColorScheme.tsx
  apps/web/src/components/UseAtomValue.tsx
  apps/web/src/components/__tests__/Absolute.test.tsx
  apps/web/src/components/__tests__/ChangeColorScheme.test.tsx
  apps/web/src/components/__tests__/HeroAvatar.test.tsx
  apps/web/src/components/__tests__/UseAtomValue.test.tsx
  apps/web/src/hooks/__tests__/useGetCommunityColor.test.ts
  apps/web/src/routes/(hero)/$hero.$awardId.tsx
  apps/web/src/routes/(hero)/-components/Hero.tsx
  apps/web/src/routes/(hero)/-components/HeroAwards.tsx
  apps/web/src/routes/(hero)/-components/ListItemAward.tsx
  apps/web/src/testing/utils.tsx
Due: turbo run lint, prettier --write

fix: bump pnpm in workflow
  .github/workflows/build-lint-test.yml
Due: none

deps: bump
  apps/web/package.json
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: none

fix: ts error on eslint prettier config
  packages/eslint-config/package.json
  packages/eslint-config/react.mjs
  pnpm-lock.yaml
Due: none

chore: minor update to workflow on PR
  .github/workflows/pr.yaml
Due: none

chore: more app's Suspense to provider
  apps/web/src/components/AppProvider.tsx
  apps/web/src/main.tsx
Due: turbo run lint, prettier --write

fix: unpin award button a11y
  apps/web/src/routes/(hero)/$hero.$awardId.tsx
Due: turbo run lint, prettier --write

feat: search shortcut
  apps/api/package.json
  apps/web/package.json
  apps/web/src/components/Search/Search.tsx
  apps/web/src/components/Search/SearchButton.tsx
  apps/web/src/components/Shortcut.tsx
  apps/web/src/hooks/__tests__/useHotkey.test.ts
  apps/web/src/hooks/useHotkey.ts
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: turbo run lint, prettier --write

fix: hanging after seed script finishes
  apps/api/scripts/seed.ts
Due: turbo run lint, prettier --write

deps: bump
  apps/api/package.json
  apps/web/package.json
  pnpm-lock.yaml
Due: none

refactor: api for better scalability
  apps/api/package.json
  apps/api/scripts/seed.ts
  apps/api/src/app.ts
  apps/api/src/database/db.ts
  apps/api/src/database/types.ts
  apps/api/src/node.d.ts
  apps/api/src/plugins/compress.ts
  apps/api/src/plugins/cors.ts
  apps/api/src/plugins/trpc.ts
  apps/api/src/plugins/zod.ts
  apps/api/src/routes/avatar.ts
  apps/api/src/routes/avatars/index.ts
  apps/api/src/routes/trpc/award.ts
  apps/api/src/routes/trpc/graph.ts
  apps/api/src/routes/trpc/hero.ts
  apps/api/src/routes/trpc/search.ts
  apps/api/src/server.ts
  apps/api/src/trpc/appRouter.ts
  apps/api/src/types.ts
  apps/api/src/utils/trpc.ts
  apps/web/src/testing/setupServer.ts
  apps/web/src/types.ts
  apps/web/src/utils/api.ts
  pnpm-lock.yaml
Due: turbo run lint, prettier --write

feat: close server gracefuly
  apps/api/package.json
  apps/api/src/server.ts
  pnpm-lock.yaml
Due: turbo run lint, prettier --write

refactor: seed script minor
  apps/api/scripts/seed.ts
Due: turbo run lint, prettier --write

feat(api): pretty logging
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/node.d.ts
  apps/api/src/server.ts
  pnpm-lock.yaml
  turbo.json
Due: turbo run lint, prettier --write

refactor(api): replace zod with typebox
  README.md
  apps/api/package.json
  apps/api/src/plugins/typebox.ts
  apps/api/src/plugins/zod.ts
  apps/api/src/routes/avatars/index.ts
  apps/api/src/routes/trpc/award.ts
  apps/api/src/routes/trpc/hero.ts
  apps/api/src/routes/trpc/search.ts
  apps/api/src/utils/trpc.ts
  apps/web/package.json
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: turbo run lint, prettier --write

chore: migrate to latest tanstack router
  apps/web/package.json
  apps/web/src/components/IconButtonLink.tsx
  apps/web/src/components/ListItemButtonLink.tsx
  apps/web/src/components/Search/Search.tsx
  apps/web/src/components/TabLink.tsx
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/(hero)/$hero.$awardId.tsx
  apps/web/src/routes/(hero)/-components/Hero.tsx
  pnpm-lock.yaml
Due: turbo run lint, prettier --write

refactor(api): support for integration tests
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/src/plugins/cors.ts
  apps/api/src/plugins/trpc.ts
  apps/api/src/routes/avatars.ts
  apps/api/src/server.ts
  apps/api/test/app/cors.test.ts
  apps/api/test/routes/avatars.test.ts
  apps/api/test/testApp.ts
  apps/api/tsconfig.json
  apps/api/vitest.config.ts
  apps/web/package.json
  apps/web/vite.config.ts
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
  vitest.workspace.ts
Due: turbo run lint, prettier --write

feat: add logs to seed generation + bump deps
  apps/api/package.json
  apps/api/scripts/seed.ts
  apps/web/package.json
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/(hero)/$hero.$awardId.tsx
  apps/web/src/routes/(hero)/-components/Hero.tsx
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: turbo run lint, prettier --write

test: some atom testing
  apps/web/src/utils/__tests__/atomWithDebounce.test.ts
  apps/web/src/utils/__tests__/atomsWithPagination.test.ts
  apps/web/src/utils/__tests__/kMeansPalette.test.ts
Due: turbo run lint, prettier --write

deps: bump
  apps/web/package.json
  pnpm-lock.yaml
Due: none
