Repository gzukas/heropad: changes, and which lint-staged commands are due for each by the changed paths.
All: turbo run lint, prettier --write

.lintstagedrc:

{
  "**/*.{ts,tsx}": ["turbo run lint"],
  "**/*.{ts,tsx,md}": ["prettier --write"]
}

deps: bump
  apps/api/package.json
  apps/web/package.json
  apps/web/src/routeTree.gen.ts
  pnpm-lock.yaml
Due: turbo run lint, prettier --write

chore: update getting started
  GETTING_STARTED.md
Due: prettier --write

deps: bump
  apps/api/package.json
  apps/web/package.json
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: none

fix: lingui config path for vitest vscode extension
  apps/web/vite.config.ts
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: turbo run lint, prettier --write

feat: improve hero drawer
  apps/api/src/routes/trpc/award.ts
  apps/api/src/utils/parseOrderBy.ts
  apps/web/src/components/AwardAvatar.tsx
  apps/web/src/components/DateTime.tsx
  apps/web/src/components/Hero.tsx
  apps/web/src/components/__tests__/DateTime.test.tsx
  apps/web/src/hooks/useHero.ts
  apps/web/src/locales/en.po
  apps/web/src/locales/en.ts
  apps/web/src/locales/lt.po
  apps/web/src/locales/lt.ts
  apps/web/src/routes/(hero)/$hero.tsx
  apps/web/src/routes/(hero)/-components/HeroAwards.tsx
  apps/web/src/routes/(hero)/-components/HeroProfile.tsx
  apps/web/src/routes/(hero)/-components/ListItemAward.tsx
  apps/web/src/routes/__root.tsx
  apps/web/src/utils/atomsWithPagination.ts
Due: turbo run lint, prettier --write

deps: bump
  apps/api/package.json
  apps/web/package.json
  apps/web/src/components/Camera.tsx
  apps/web/src/components/ChangeColorScheme.tsx
  apps/web/src/components/ChangeLocale.tsx
  apps/web/src/components/Search/Search.tsx
  apps/web/src/components/Search/SearchButton.tsx
  apps/web/src/locales/en.ts
  apps/web/src/locales/lt.ts
  apps/web/src/routes/(hero)/$hero.$awardId.tsx
  apps/web/src/routes/(hero)/-components/HeroProfile.tsx
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: turbo run lint, prettier --write

docs: readme
  README.md
  docs/images/screenshot.png
  media/logo-dark.png
  media/logo-light.png
  media/logo.svg
Due: prettier --write

docs: update readme logo
  README.md
Due: prettier --write

docs: fix dark logo in readme
  README.md
Due: prettier --write

deps: bump
  apps/api/package.json
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: none

refactor: cleanup exported router types
  apps/api/src/types.ts
  apps/web/src/routes/(hero)/$hero.tsx
  apps/web/src/routes/(hero)/-components/HeroAwards.tsx
  apps/web/src/types.ts
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: turbo run lint, prettier --write

refactor: weekly batch
  apps/api/package.json
  apps/web/package.json
  apps/web/src/atoms/blendedColorFamily.ts
  apps/web/src/atoms/localeEffect.ts
  apps/web/src/components/Search/Search.tsx
  apps/web/src/components/Sociogram/GraphSettings.ts
  apps/web/src/hooks/useEdgeReducer.ts
  apps/web/src/hooks/useGetCommunityColor.ts
  apps/web/src/hooks/useNodeReducer.ts
  apps/web/src/routes/(hero)/$hero.tsx
  apps/web/src/utils/__tests__/blendAlpha.test.ts
  apps/web/src/utils/__tests__/blendColor.test.ts
  apps/web/src/utils/blendAlpha.ts
  apps/web/src/utils/blendColor.ts
  apps/web/src/utils/createNodeHoverDrawingFunction.ts
  apps/web/vite.config.ts
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: turbo run lint, prettier --write

fix: node version in github action
  .github/workflows/pr.yaml
Due: none

fix: loader deps defaulting for hero route
  apps/web/src/routes/(hero)/$hero.tsx
Due: turbo run lint, prettier --write

chore: git ignore .vscode directory
  .gitignore
Due: none

Delete .vscode directory
  .vscode/settings.json
Due: none

deps: bump
  apps/web/package.json
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: none

fix: links having incorrect href in DOM
  apps/web/src/components/IconButtonLink.tsx
  apps/web/src/components/ListItemButtonLink.tsx
  apps/web/src/components/TabLink.tsx
  apps/web/src/routes/(hero)/$hero.tsx
  apps/web/src/routes/__root.tsx
Due: turbo run lint, prettier --write

fix: tooltip on sort button jumps
  apps/web/src/routes/(hero)/-components/HeroProfile.tsx
Due: turbo run lint, prettier --write

fix: missing translation
  apps/web/src/locales/lt.po
  apps/web/src/locales/lt.ts
Due: turbo run lint, prettier --write

feat: improve controls placement over the graph
  apps/web/src/atoms/graphAtom.ts
  apps/web/src/components/Absolute.ts
  apps/web/src/components/Camera.tsx
  apps/web/src/components/ChangeColorScheme.tsx
  apps/web/src/components/ChangeLocale.tsx
  apps/web/src/components/Search/SearchButton.tsx
  apps/web/src/components/Sociogram/Sociogram.tsx
  apps/web/src/components/__tests__/Absolute.test.tsx
  apps/web/src/routes/(hero)/-components/HeroProfile.tsx
  apps/web/src/routes/__root.tsx
Due: turbo run lint, prettier --write

fix: minor violations on search input
  apps/web/src/components/Search/Search.tsx
Due: turbo run lint, prettier --write

fix: search hotkey on mac
  apps/web/src/components/Search/SearchButton.tsx
  apps/web/src/hooks/__tests__/useHotkey.test.ts
  apps/web/src/hooks/useHotkey.ts
Due: turbo run lint, prettier --write

fix: remove dummy console.log
  apps/web/src/hooks/useHotkey.ts
Due: turbo run lint, prettier --write

refactor: React 19
  README.md
  apps/web/package.json
  apps/web/src/atoms/focusedNodesAtom.ts
  apps/web/src/atoms/graphAtom.ts
  apps/web/src/atoms/sigmaAtom.ts
  apps/web/src/components/HeroAvatar.tsx
  apps/web/src/components/Search/Search.tsx
  apps/web/src/components/Sociogram/Graph.ts
  apps/web/src/components/Sociogram/GraphEvents.ts
  apps/web/src/components/Sociogram/GraphLayout.ts
  apps/web/src/components/Sociogram/GraphSettings.ts
  apps/web/src/components/Sociogram/Sociogram.tsx
  apps/web/src/hooks/useCamera.ts
  apps/web/src/hooks/useEdgeReducer.ts
  apps/web/src/hooks/useHydrateAndSyncAtoms.ts
  apps/web/src/hooks/useNodeReducer.ts
  apps/web/src/hooks/usePrevious.ts
  apps/web/src/routes/__root.tsx
  package.json
  pnpm-lock.yaml
Due: turbo run lint, prettier --write

fix: some strange __root change
  apps/web/src/routes/__root.tsx
Due: turbo run lint, prettier --write

fix: skip tests not working with RTT+React19
  apps/web/src/components/HeroAvatar.tsx
  apps/web/src/components/__tests__/HeroAvatar.test.tsx
  apps/web/src/hooks/__tests__/useGetCommunityColor.test.ts
Due: turbo run lint, prettier --write

fix: cleanup
  apps/web/src/components/Sociogram/Sociogram.tsx
  apps/web/src/routes/__root.tsx
Due: turbo run lint, prettier --write

fix: do not return search vector for hero
  apps/api/src/routes/trpc/hero.ts
Due: turbo run lint, prettier --write

fix: remove aborted atoms from hero and award families
  apps/web/src/atoms/awardFamily.ts
  apps/web/src/atoms/heroFamily.ts
Due: turbo run lint, prettier --write
