Repository gzukas/heropad: changes, and which lint-staged commands are due for each by the changed paths.
All: turbo run lint -- --fix, prettier --write

chore: turborepo v2
  .npmrc
  package.json
  pnpm-lock.yaml
  turbo.json
Due: none

chore: update deps
  .vscode/settings.json
  apps/api/package.json
  apps/web/package.json
  apps/web/src/components/HeroAvatar.tsx
  apps/web/src/components/IconButtonLink.tsx
  apps/web/src/components/ListItemLink.tsx
  apps/web/src/components/Search/AwardSuggestionList.tsx
  apps/web/src/components/Search/HeroSuggestionList.tsx
  apps/web/src/components/Sociogram/GraphSettings.ts
  apps/web/src/components/Sociogram/Sociogram.tsx
  apps/web/src/hooks/__tests__/useAccumulatedContentShift.test.tsx
  apps/web/src/hooks/__tests__/useMatchesChildRoute.test.tsx
  apps/web/src/hooks/useAccumulatedContentShift.ts
  apps/web/src/hooks/useCamera.ts
  apps/web/src/hooks/useHydrateAndSyncAtoms.ts
  apps/web/src/router.ts
  apps/web/src/routes/$hero/$awardId/index.tsx
  apps/web/src/routes/$hero/components/Hero.tsx
  apps/web/src/routes/$hero/components/HeroAwards.tsx
  apps/web/src/routes/$hero/components/TabLink.tsx
  apps/web/src/routes/$hero/index.tsx
  apps/web/src/routes/__root.tsx
  apps/web/src/routes/index.ts
  apps/web/src/types.ts
  apps/web/src/utils/atomsWithPagination.ts
  apps/web/src/utils/createNodeHoverDrawingFunction.ts
  apps/web/src/utils/lodash.ts
  apps/web/vite.config.ts
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
  turbo.json
Due: turbo run lint -- --fix, prettier --write

build: remove vite-tsconfig-paths
  apps/web/package.json
  apps/web/vite.config.ts
  pnpm-lock.yaml
Due: turbo run lint -- --fix, prettier --write

chore: remove fast-deep-equal
  apps/web/package.json
  pnpm-lock.yaml
Due: none

fix: test
  apps/web/package.json
  apps/web/src/hooks/__tests__/useAccumulatedContentShift.test.tsx
Due: turbo run lint -- --fix, prettier --write

refactor: eslint flat config
  apps/api/.eslintrc.json
  apps/api/eslint.config.js
  apps/api/src/server.ts
  apps/web/.eslintrc.json
  apps/web/eslint.config.js
  apps/web/src/components/Sociogram/Graph.ts
  apps/web/src/components/Sociogram/GraphEvents.ts
  apps/web/src/hooks/__tests__/useEventCallback.test.ts
  apps/web/src/hooks/useEventCallback.ts
  apps/web/src/hooks/useHydrateAndSyncAtoms.ts
  apps/web/src/routes/$hero/Hero.tsx
  apps/web/src/routes/$hero/HeroAwards.tsx
  apps/web/src/routes/$hero/index.tsx
  apps/web/src/routes/Layout.ts
  apps/web/src/routes/__root.tsx
  package.json
  packages/eslint-config/node.json
  packages/eslint-config/node.mjs
  packages/eslint-config/package.json
  packages/eslint-config/react.mjs
  pnpm-lock.yaml
  turbo.json
Due: turbo run lint -- --fix, prettier --write

refactor: drop jotai-devtools
  apps/web/package.json
  apps/web/src/routes/__root.tsx
  apps/web/vite.config.ts
  pnpm-lock.yaml
Due: turbo run lint -- --fix, prettier --write

feat: file-based routing
  apps/api/src/server.ts
  apps/web/package.json
  apps/web/src/routeTree.gen.ts
  apps/web/src/router.ts
  apps/web/src/routes/$hero/$awardId/index.tsx
  apps/web/src/routes/(hero)/$hero.$awardId.tsx
  apps/web/src/routes/(hero)/$hero.tsx
  apps/web/src/routes/(hero)/-components/Hero.tsx
  apps/web/src/routes/(hero)/-components/HeroAwards.tsx
  apps/web/src/routes/Layout.ts
  apps/web/src/routes/__root.tsx
  apps/web/src/routes/index.ts
  apps/web/vite.config.ts
  packages/eslint-config/react.json
  pnpm-lock.yaml
Due: turbo run lint -- --fix, prettier --write

build: remove lint autofix
  .lintstagedrc
Due: none

refactor: use Map.groupBy instead
  .lintstagedrc
  apps/web/src/atoms/searchSuggestionsByKindAtom.ts
  apps/web/src/locales/en/en.ts
  apps/web/src/locales/lt/lt.ts
  apps/web/src/utils/__tests__/groupBy.test.ts
  apps/web/src/utils/groupBy.ts
  packages/tsconfig/tsconfig.json
Due: turbo run lint -- --fix, prettier --write

chore: extract messages
  apps/web/src/components/Camera.tsx
  apps/web/src/components/ChangeColorScheme.tsx
  apps/web/src/locales/en/en.po
  apps/web/src/locales/en/en.ts
  apps/web/src/locales/lt/lt.po
  apps/web/src/locales/lt/lt.ts
  apps/web/tsconfig.json
Due: turbo run lint -- --fix, prettier --write

chore: remove locales .d.ts files
  apps/web/package.json
  apps/web/src/locales/en/en.d.ts
  apps/web/src/locales/en/en.po
  apps/web/src/locales/lt/lt.d.ts
  apps/web/src/locales/lt/lt.po
  apps/web/src/locales/lt/lt.ts
  pnpm-lock.yaml
Due: turbo run lint -- --fix, prettier --write

chore: bump deps
  apps/api/package.json
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore: bump node to 20
  apps/api/package.json
  package.json
  pnpm-lock.yaml
Due: none

fix: eslint warnings
  apps/web/src/components/Sociogram/GraphSettings.ts
  apps/web/src/hooks/useDidUpdate.ts
  apps/web/src/hooks/useEdgeReducer.ts
  apps/web/src/hooks/useNodeReducer.ts
Due: turbo run lint -- --fix, prettier --write

fix: Route.useLoaderData undefined in $hero route
  apps/web/src/routes/(hero)/$hero.tsx
Due: turbo run lint -- --fix, prettier --write

fix: /api tsconfig to use correct base config
  apps/api/tsconfig.json
Due: none

chore: remove dotenv-cli
  package.json
  pnpm-lock.yaml
Due: none

chore: replace dotenv-cli with native
  apps/api/package.json
Due: none

chore: remove font 600 weight
  apps/web/index.html
Due: none

chore: mui/system direct dep
  apps/web/package.json
  apps/web/src/components/Highlight.tsx
  pnpm-lock.yaml
Due: turbo run lint -- --fix, prettier --write

fix: hero tabs error in console
  apps/web/src/routes/(hero)/-components/Hero.tsx
Due: turbo run lint -- --fix, prettier --write

chore: cleanup some hooks
  apps/web/src/hooks/useGetCommunityColor.ts
  apps/web/src/hooks/useNodeReducer.ts
Due: turbo run lint -- --fix, prettier --write

test: add Highlight test
  apps/web/src/components/__tests__/Highlight.test.tsx
Due: turbo run lint -- --fix, prettier --write

build: add build-lint-test github workflow
  .github/workflows/build-lint-test.yml
Due: none

test: add missing @testin-libary/jest-dom dep
  apps/web/package.json
  pnpm-lock.yaml
Due: none

chore: bump vitest
  apps/web/package.json
  pnpm-lock.yaml
Due: none

chore: bump deps
  apps/web/package.json
  apps/web/tsconfig.json
  pnpm-lock.yaml
Due: none

feat: lazy i18n
  apps/web/lingui.config.ts
  apps/web/src/atoms/localeAtom.ts
  apps/web/src/atoms/localeEffect.ts
  apps/web/src/components/App.tsx
  apps/web/src/components/Camera.tsx
  apps/web/src/components/ChangeColorScheme.tsx
  apps/web/src/components/ChangeLocale.tsx
  apps/web/src/components/I18n.tsx
  apps/web/src/locales/en.po
  apps/web/src/locales/en/en.ts
  apps/web/src/locales/locales.ts
  apps/web/src/locales/lt.po
  apps/web/src/locales/lt/lt.ts
  apps/web/src/main.tsx
  apps/web/vite.config.ts
  apps/web/vitest.setup.ts
Due: turbo run lint -- --fix, prettier --write

chore: update comment in .gitignore
  .gitignore
Due: none

docs: add GETTING_STARTED
  GETTING_STARTED.md
  package.json
Due: prettier --write

docs: update GETTING_STARTED
  GETTING_STARTED.md
Due: prettier --write

chore: bump deps
  apps/api/package.json
  apps/web/package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: none

test: fix tests after bump
  apps/web/src/hooks/__tests__/useAccumulatedContentShift.test.tsx
  apps/web/src/hooks/__tests__/useMatchesChildRoute.test.tsx
Due: turbo run lint -- --fix, prettier --write

build: rollback to dotenv-cli
  apps/api/package.json
  pnpm-lock.yaml
Due: none

deps: bump
  .husky/pre-commit
  apps/web/package.json
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: none

docs: update screenshot
  README.md
  docs/images/screenshot.jpg
  docs/images/screenshot.png
Due: prettier --write

deps: bump
  apps/api/package.json
  apps/api/supabase/functions/.gitignore
  apps/web/package.json
  apps/web/src/components/App.tsx
  apps/web/src/components/Search/SearchButton.tsx
  apps/web/src/components/Sociogram/Sociogram.tsx
  apps/web/src/routes/__root.tsx
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: turbo run lint -- --fix, prettier --write

feat: use css variables for dynamic values in sx
  apps/web/.prettierignore
  apps/web/src/components/Absolute.ts
  apps/web/src/routes/__root.tsx
Due: turbo run lint -- --fix, prettier --write

Path conditions:
  turbo run lint -- --fix: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,md}
