Repository gzukas/heropad: changes, and which lint-staged commands are due for each by the changed paths.
All: turbo run lint -- --fix, prettier --write

.lintstagedrc:

{
  "**/*.{ts,tsx}": ["turbo run lint -- --fix"],
  "**/*.{ts,tsx,md}": ["prettier --write"]
}

chore: remove redundant .eslintrc
  .eslintrc.json
Due: none

fix: add missing deps on @heropad/eslint-config
  apps/web/package.json
  package-lock.json
  packages/base/package.json
Due: none

refactor: award list
  README.md
  apps/api/src/trpc/appRouter.ts
  apps/web/package.json
  apps/web/src/atoms/awardFamily.ts
  apps/web/src/atoms/graphAtom.ts
  apps/web/src/atoms/searchSuggestionsAtom.ts
  apps/web/src/components/ListItemAward.tsx
  apps/web/src/components/Search/AwardSuggestionList.tsx
  apps/web/src/components/Search/HeroSuggestionList.tsx
  apps/web/src/components/Search/SearchSuggestions.tsx
  apps/web/src/components/UseAtomValue.tsx
  apps/web/src/main.tsx
  apps/web/src/routes/$hero/components/Hero.tsx
  apps/web/src/routes/$hero/components/HeroAwards.tsx
  apps/web/src/routes/$hero/index.tsx
  apps/web/src/routes/$hero/molecules/heroAwardsMolecule.ts
  apps/web/src/routes/$hero/scopes/directionScope.ts
  apps/web/src/routes/$hero/scopes/heroScope.ts
  apps/web/src/routes/$hero/scopes/index.ts
  apps/web/src/routes/__root.tsx
  apps/web/src/types.ts
  apps/web/src/utils/atomsWithPagination.ts
  package-lock.json
Due: turbo run lint -- --fix, prettier --write

refactor: rewrite seed not to use snaplet
  apps/api/.env.example
  apps/api/.snaplet/config.json
  apps/api/.snaplet/snaplet-client.d.ts
  apps/api/.snaplet/snaplet.d.ts
  apps/api/package.json
  apps/api/scripts/seed.ts
  apps/api/snaplet.config.ts
  apps/api/src/database/types.ts
  package-lock.json
Due: turbo run lint -- --fix, prettier --write

update README
  README.md
Due: prettier --write

fix: change language button a11y
  apps/web/src/components/ChangeLocale.tsx
Due: turbo run lint -- --fix, prettier --write

build: add vendor-graph chunk
  apps/web/vite.config.ts
Due: turbo run lint -- --fix, prettier --write

build: upgrade vite to 5
  apps/web/package.json
  apps/web/vite.config.ts
  package-lock.json
  package.json
Due: turbo run lint -- --fix, prettier --write

feat: add placeholder to search
  apps/web/src/components/Search/SearchDialog.tsx
  apps/web/src/locales/en/en.d.ts
  apps/web/src/locales/en/en.po
  apps/web/src/locales/en/en.ts
  apps/web/src/locales/lt/lt.d.ts
  apps/web/src/locales/lt/lt.po
  apps/web/src/locales/lt/lt.ts
Due: turbo run lint -- --fix, prettier --write

chore: bump deps
  apps/api/package.json
  apps/web/package.json
  apps/web/src/main.tsx
  package-lock.json
  package.json
Due: turbo run lint -- --fix, prettier --write

feat: curved edges
  apps/web/package.json
  apps/web/src/components/Sociogram/Sociogram.tsx
  package-lock.json
Due: turbo run lint -- --fix, prettier --write

feat: precompute community colors
  apps/web/package.json
  apps/web/src/hooks/useColors.ts
  apps/web/src/hooks/useGetCommunityColor.ts
  apps/web/src/main.tsx
  apps/web/src/utils/kMeansPalette.ts
  package-lock.json
Due: turbo run lint -- --fix, prettier --write

fix: remove circular dep from lazy hero route
  apps/api/src/trpc/appRouter.ts
  apps/web/package.json
  apps/web/src/routes/$hero/components/Hero.tsx
  apps/web/src/types.ts
  package-lock.json
Due: turbo run lint -- --fix, prettier --write

feat: make pinned award more distinct
  apps/web/src/routes/$hero/components/Hero.tsx
Due: turbo run lint -- --fix, prettier --write

feat: improve search look and feel
  apps/web/src/components/Search/AwardSuggestionList.tsx
  apps/web/src/components/Search/HeroSuggestionList.tsx
  apps/web/src/components/Search/SearchDialog.tsx
  apps/web/src/components/Search/SearchSuggestions.tsx
  apps/web/src/locales/en/en.po
  apps/web/src/locales/en/en.ts
  apps/web/src/locales/lt/lt.po
  apps/web/src/locales/lt/lt.ts
Due: turbo run lint -- --fix, prettier --write

fix: close hero drawer on backdrop click and esc
  apps/web/src/routes/__root.tsx
Due: turbo run lint -- --fix, prettier --write

fix: search dialog overlapping temporary hero drawer
  apps/web/src/components/Search/SearchDialog.tsx
Due: turbo run lint -- --fix, prettier --write

feat: propagate content shift to camera
  apps/web/package.json
  apps/web/src/components/Camera.tsx
  apps/web/src/components/Search/AwardSuggestionList.tsx
  apps/web/src/components/Search/HeroSuggestionList.tsx
  apps/web/src/hooks/useAccumulatedContentShift.ts
  apps/web/src/hooks/useCamera.ts
  apps/web/src/hooks/useDevicePixelRatio.ts
  apps/web/src/hooks/useMatchesChildRoute.ts
  apps/web/src/hooks/usePrevious.ts
  apps/web/src/locales/en/en.po
  apps/web/src/locales/en/en.ts
  apps/web/src/locales/lt/lt.po
  apps/web/src/locales/lt/lt.ts
  apps/web/src/router.ts
  apps/web/src/routes/$hero/$awardId/index.tsx
  apps/web/src/routes/$hero/components/Hero.tsx
  apps/web/src/routes/$hero/index.tsx
  apps/web/src/routes/__root.tsx
  apps/web/src/types.ts
  package-lock.json
Due: turbo run lint -- --fix, prettier --write

fix: do not drop search params on award unpin
  apps/web/src/routes/$hero/$awardId/index.tsx
Due: turbo run lint -- --fix, prettier --write

refactor: drop @heropad/base
  apps/web/package.json
  apps/web/src/atoms/hoveredNodeAtom.ts
  apps/web/src/atoms/searchTermAtom.ts
  apps/web/src/hooks/useCommittedRef.ts
  apps/web/src/hooks/useDidUpdate.ts
  apps/web/src/hooks/useEdgeReducer.ts
  apps/web/src/hooks/useEventCallback.ts
  apps/web/src/hooks/useHydrateAndSyncAtoms.ts
  apps/web/src/hooks/useNodeReducer.ts
  apps/web/src/routes/$hero/components/HeroAwards.tsx
  apps/web/src/routes/__root.tsx
  apps/web/src/utils/atomWithDebounce.ts
  package-lock.json
  packages/base/package.json
  packages/base/src/.eslintrc.json
  packages/base/src/hooks/index.ts
  packages/base/src/index.ts
  packages/base/src/utils/index.ts
  packages/base/tsconfig.json
Due: turbo run lint -- --fix, prettier --write

build: fix package-lock
  package-lock.json
Due: none

build: add vitest
  apps/web/package.json
  apps/web/src/utils/groupBy.test.ts
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  package-lock.json
  package.json
  turbo.json
Due: turbo run lint -- --fix, prettier --write

test: write some tests with msw
  apps/web/package.json
  apps/web/src/__mocks__/setupServer.ts
  apps/web/src/components/__tests__/HeroAvatar.test.tsx
  apps/web/src/hooks/__tests__/useComittedRef.test.ts
  apps/web/src/hooks/__tests__/useDidUpdate.test.ts
  apps/web/src/hooks/__tests__/useGetCommunityColor.test.ts
  apps/web/src/hooks/useGetCommunityColor.ts
  apps/web/vite.config.ts
  package-lock.json
Due: turbo run lint -- --fix, prettier --write

chore: bump router
  apps/web/package.json
  apps/web/src/atoms/awardFamily.ts
  apps/web/src/atoms/heroFamily.ts
  apps/web/src/routes/$hero/$awardId/index.tsx
  apps/web/src/routes/$hero/index.tsx
  package-lock.json
Due: turbo run lint -- --fix, prettier --write

test: some hooks
  apps/web/src/hooks/__tests__/useAccumulatedContentShift.test.tsx
  apps/web/src/hooks/__tests__/useEventCallback.test.ts
  apps/web/src/hooks/__tests__/useMatchesChildRoute.test.tsx
  apps/web/src/hooks/__tests__/usePrevious.test.ts
Due: turbo run lint -- --fix, prettier --write

chore: update readme with test tools used
  README.md
Due: prettier --write

chore: cleanup devDeps in root package.json
  package-lock.json
  package.json
Due: none

build: switch to pnpm
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/trpc/routers/award.ts
  apps/api/src/trpc/routers/search.ts
  apps/web/package.json
  apps/web/src/routes/$hero/components/Hero.tsx
  package-lock.json
  package.json
  packages/eslint-config/node.json
  packages/eslint-config/package.json
  packages/eslint-config/react.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: turbo run lint -- --fix, prettier --write

refactor: change award loading to improve caching
  apps/api/src/trpc/appRouter.ts
  apps/web/src/routes/$hero/components/Hero.tsx
  apps/web/src/routes/$hero/components/HeroAwards.tsx
  apps/web/src/routes/$hero/index.tsx
  apps/web/src/routes/__root.tsx
  apps/web/src/types.ts
  apps/web/src/utils/atomsWithPagination.ts
Due: turbo run lint -- --fix, prettier --write

chore: bump lingui
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore: bump rest of lingui
  apps/web/package.json
  pnpm-lock.yaml
Due: none

fix: correctly override sigma version for pnpm
  package.json
  pnpm-lock.yaml
Due: none

chore: remove barrel files from api
  apps/api/src/database/index.ts
  apps/api/src/server.ts
  apps/api/src/trpc/index.ts
  apps/api/src/trpc/trpc.ts
Due: turbo run lint -- --fix, prettier --write

test: more tests
  apps/web/src/components/Sociogram/GraphSettings.ts
  apps/web/src/utils/__tests__/atomWithToggle.test.ts
  apps/web/src/utils/__tests__/blendAlpha.test.ts
  apps/web/src/utils/__tests__/groupBy.test.ts
  apps/web/src/utils/__tests__/kMeansPalette.test.ts
  apps/web/src/utils/atomWithToggle.ts
  apps/web/src/utils/blendAlpha.ts
Due: turbo run lint -- --fix, prettier --write

chore: RouterLinkComponent type cleanup
  apps/web/src/components/IconButtonLink.tsx
  apps/web/src/components/ListItemLink.tsx
  apps/web/src/routes/$hero/components/TabLink.tsx
  apps/web/src/types.ts
Due: turbo run lint -- --fix, prettier --write

chore: bump deps
  apps/api/package.json
  apps/web/package.json
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: none

refactor: create view table for hero award search
  apps/api/package.json
  apps/api/src/database/types.ts
  apps/api/src/trpc/routers/search.ts
  apps/api/supabase/migrations/20240122120401_createHeroAwardSearchTable.sql
  pnpm-lock.yaml
Due: turbo run lint -- --fix, prettier --write

chore: fix spacing in SQL
  apps/api/supabase/migrations/20240122120401_createHeroAwardSearchTable.sql
Due: none

feat: allow passing comma-separated values in HEROPAD_CORS_ORIGIN
  apps/api/src/server.ts
Due: turbo run lint -- --fix, prettier --write

chore: update app link in readme
  README.md
Due: prettier --write
